.poke{
    border-radius:8px;
    margin:10px;
    background-color:#e6e6e6;
    width:auto;
    opacity:0.2;
}
img{
  width: 100%;
}

.result1{
  border-radius:8px;
  margin:10px;
  margin-left: 0;
  margin-top: -150px;
  background-color:#e6e6e6;
  width:auto;
  height: 110px;
  float: right;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.result2{
  border-radius:8px;
  margin:10px;
  margin-left: 0;
  margin-top: -300px;
  background-color:#e6e6e6;
  width:auto;
  height: 162px;
  float: right;
}

.result3{
  border-radius:8px;
  margin:10px;
  margin-left: 0;
  margin-top: -500px;
  margin-right: 0;
  background-color:#e6e6e6;
  width:auto;
  height: 162px;
  float: right;
  left: -7;
}


.pokeicone{
  margin-left: -180;
  display: none;
}
.label-info{
  margin-left: 10px;
  margin-left: 40px;

}
.label-success{
  margin-left: 50px;
}
.logo{

  align-items: center;

}

.pokeicone1{
  display: none;
  height: 32px;
  width: 50px;
}
